:root {
    --foreground: #eeeeee;
    --background: #000000;
}

html,
body {
    font-family: sans-serif;
    background: var(--background);
    color: var(--foreground);
}

main {
    margin: 4em auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    width: fit-content;
}

a {
    margin: 2em;
    padding: 1em 2em;
    color: var(--foreground);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 1em;
    border: 0.125em solid var(--foreground);
}
